test --test_output=errors --enable_runfiles
common --enable_bzlmod --nolegacy_external_runfiles

# Windows requires these for multi-python support:
build --build_python_zip=false --enable_runfiles

# https://bazel.build/configure/windows
# decommentare se si presenta il problema della "Maximum Path Length Limitation"
# startup --output_user_root=X:/tmp
startup --windows_enable_symlinks